* { 
    margin: 0;
    box-sizing: border-box;
} 

.parallax-top {
    background-image: url("https://static01.nyt.com/images/2021/09/14/science/07CAT-STRIPES/07CAT-STRIPES-mediumSquareAt3X-v2.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-top p, .parallax-bottom p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.black-box {
    height: 1000px;
    background-color: black;
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-bottom {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_November_2010-1a.jpg/1200px-Cat_November_2010-1a.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}